.page-container {
    background: linear-gradient(36deg, rgba(255,255,255,1) 0%, rgb(251 245 231) 100%);
    width: 100%;
    position: relative;
    display: table;
    color: #d5a252;
    height: 100vh;
}